@inject NavigationManager NavManager

<div class="page">
    <main>
        <article class="content px-4">
            Login link
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("/Identity/Account/Login", true);
    }
}
