@inject NavigationManager NavManager

<a href="/Identity/Account/Login">login</a>

@code {
    // protected override async Task OnInitializedAsync()
    // {
    //     NavManager.NavigateTo("/Identity/Account/Login", true);
    // }
}
