@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="wrapper">
    <div class="title"><span>@ViewData["Title"]</span></div>
     <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="row">
           <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
           <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="row button">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
