@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="wrapper">
    <div class="title" style="padding: 30px 25px 25px 25px; height: auto !important;">
        <span>@ViewData["Title"]</span>
    </div>
    <p style="padding: 30px 25px 25px 25px;">
         Please check your email to reset your password.
    </p>
</div>