@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="wrapper">
    <div class="title"><span>Login</span></div>
     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
         <div>
             <p>
                 @foreach (var provider in Model.ExternalLogins!)
                 {
                     <div class="row button">
                         @* <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login By Google</button> *@
                     <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Login by @provider.DisplayName</button>
                     </div>
                 }
             </p>
         </div>
     </form>
</div>
