@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="wrapper">
    <div class="title" style="padding: 30px 25px 25px 25px; height: auto !important;">
        <span>@ViewData["Title"]</span>
    </div>
    <p style="padding: 30px 25px 25px 25px;">
        Your password has been reset. <br>Please <a style="color: blue;" asp-page="./Login">click here to log in</a>.
    </p>
</div>